<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    @RenderSection("head", false)
</head>
<body>
    <div>
        <nav>
            <a href="/Etel/Index">Hozzáad</a>
            <a href="/Etel/List">Listáz</a>
        </nav>
        @RenderBody()
    </div>
</body>
</html>
